body{
    line-height: normal;
    color: $black;
}
a{
    color: $black;
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.slick-dots{
    button {
        cursor: pointer;
        font-size: 0;
        width: 2px;
        height: 25px;
        background-color: $black;            
    }
}
.slick-active button{
    background-color: $red;
}
.slick-dots{
    li+li {
        margin-top: 10px;
}       
}

