$black:black;
$white: white;
$red: #ff4040;
$grey: #6f6f6f;

%in700{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
%in400{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}