<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a class="footer__link" href="">Политика конфиденциальности</a>
            <div class="footer__sociale">
                <a class="footer__inst"><img class="footer__inst-icon" src="../images/инст.svg" alt=""></img></a>
                <a class="footer__fase"><img class="footer__fase-icon" src="../images/face.svg" alt="fase-icon"></img></ac>
            </div>
            <div class="footer__contacts">
                <a class="footer__contact" href="tel:+38050 6777777">
                    <img class="footer__contact-img" src="../images/phone__vector.svg" alt="phone">
                    +38 050 677 77 77
                </a>
                <a class="footer__contact" href="">
                    <img class="footer__contact-img" src="../images/mile__vector.svg" alt="mile">
                    elektrobikeukr@gmail.com
                </a>
        </div>
            
        </div>
    </div>
    
</footer>