<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__link" href="">
                <img class="header__link-img" src="../images/logo_imj.jpg" alt="logo">
            </a>
            <nav class="menu">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Описание</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Характеристики</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">стоимость</a>
                    </li>
                </ul>
                <button class="burger__menu">
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                    <div class="burger__line"></div>
                </button>
            </nav>
        </div>
    </div>
    
</header>